node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

.cache
build
dist

node_modules/
frontend/node_modules/
.env
artifacts/
cache/